{% extends "layout.html" %}

{% block body %}
<h1>Welcome back {{ current_user.username }}</h1>

<hr>
<div class="row">
	<div class="column span6">
		<p>Write another post.</p>

		{% if form.errors %}
	    <ul class="errors">
	        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
	            {% for error in field_errors %}
	                <li class="alert">{{ form[field_name].label }}: {{ error }}</li>
	            {% endfor %}
	        {% endfor %}
	    </ul>
		{% endif %}
		<form method="POST">
			{{ form.csrf_token }}

			{{ form.title.label}}
			{{ form.title }}

			{{ form.content.label }}
			{{ form.content }}
			<br>
			<input type="submit" value="Save Post">
		</form>

	</div>

	<div class="column span6">
		{% for c in allContent %}
			<div class="">
				{{ c.title }}
				<br>
				{{ c.content}}
				<br>
				by: <a href="/users/{{ c.user.username }}">{{ c.user.username }}</a>
			</div>
			<hr>
		{% endfor %}
	</div>

{% endblock %}