{% extends "layout.html" %}

{% block body %}
<br><br><br><br>
<div class="row">
	<div class="span8 column">
		<h2>Welcome</h2>

		{% if current_user.is_authenticated() %}
		<p>You are authorized to access <a href="{{ url_for('secret') }}">the secret information</a>.
		{% else %}
		<p>This Web site contains secret information available only to authorized users.
		Available usernames are Notch, Steve, and Creeper.

	</div>

</div>

<div class="row">
	<div class="column span8">
		<form method="POST" action="{{ url_for('register') }}">
			email : <input type="email" name="user[email]" id="email"><br>
			anonymous : <input type="checkbox" name="user[anonymous]" id="anonymous"><br>
			type of cyclist : 
			<select name="user[type_of_cyclist]" id="type_of_cyclist">
				<option value="bold_and_the_brave">Bold and the Brave</option>
				<option value="no_way_no_how">No Way, No How</option>
			</select>

			<br><br>

			<input type="submit" value="Register" id="register_btn">
		</form>	
	</div>
</div>
{% endif %}
{% endblock body %}
